header{
    padding: 0.6em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    transition: background 500ms;
}

header.scrolled{
    background-color: #1f284fbd;
    backdrop-filter: blur(4px);
}


header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-content .logo-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

header .header-content .logo-content .neon{
    color:#04D9B2;
    text-shadow: 1px 1px 20px #04D9B2;
}

header .header-content .logo-content .logo-text{
   color:#fff;
   font-size: 20px;
   font-weight: 600;
}

header .header-content .logo-content .logo{
    width: 60px;
}

header .header-content .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}


header .header-content .nav-menu .link-menu{
    color:#fff;
    font-weight: 600;
    font-size: 18px;
    transition: color 300ms;
}

header .header-content .nav-menu .bar{
    position: relative;
}

header .header-content .nav-menu .bar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#04D9B2;
    box-shadow: 2px 2px 20px #04D9B2;
    bottom: -5px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: 300ms;
}

header .header-content .nav-menu .link-menu:hover{
    position: relative;
    color:#04D9B2;
    text-shadow: 1px 1px 20px #04D9B2;
}

header .header-content .nav-menu .link-menu:hover ::before{
    transition: 300ms;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


header .header-content .menu-icon{
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    display: none;
    transition: color 300ms;
}

header .header-content .menu-icon:hover{
    color: #04D9B2;
}


/*************************************************************** Media Query ***********************************************************/

@media (max-width:840px) {
    header{
        width: 100%;
        background-color:  #202020fb;
        backdrop-filter: blur(7px);
        padding: 0.7em 2em;
    }

    header .header-content .menu-icon{
        display: block;
    }

    header .header-content .nav-menu{
        background-color: #202020fb;
        padding: 4em 1em;
        position: absolute;
        flex-direction: column;
        top:70px;
        right: 0;
        min-width: 70%;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: 400ms;
        gap:40px;
    }

    header .header-content .nav-menu.open{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    header .header-content .nav-menu .link-menu{
       border-left: solid 7px #04D9B2;
       border-bottom: solid 3px #04D9B2;
       padding: 1em 2em;
       border-radius: 0 10px 30px 0;
    }
}



