#services
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-height: 90vh;
}

#services .services-content
{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 2em;
    gap:3em;
}


#services .services-content h2
{
    color:#fff;
    font-size: 30px;
    font-weight: 700;
}

#services .services-content .neon
{
    color:#04D9B2;
    text-shadow: 1px 1px 20px #04D9B2;
}

#services .services-content .card-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#services .services-content .card-content .card
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    width:320px;
    padding: 1em;
    background-color: #3a3b3b42;
    box-shadow: 2px 2px 10px #757575;
}


#services .services-content .card-content .card ion-icon
{
    color:#04D9B2;
    font-size: 40px;
    margin: 0 0 30px;
}

#services .services-content .card-content .card .card-title
{
   color:#fff;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 0.05em;
   margin: 0 0 10px 0;
}

#services .services-content .card-content .card ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}

#services .services-content .card-content .card ul li
{
    color:#fff;
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}



@media (max-width:1051px) {
    #services .services-content .card-content
    {
        flex-wrap: wrap;
    }
}

/*Contacto From*/

#services .services-content .contact-form
{
    background-color: #fff;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#services .services-content .contact-form .contact-title
{
    color:#222;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 20px 0;
    position: relative;
}

#services .services-content .contact-form .contact-title::before
{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 30px;
    height: 3px;
    background-color: #222;
}

#services .services-content .contact-form .body-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 100%;
}

#services .services-content .contact-form .body-form .input-content
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    width: 100%;
}

#services .services-content .contact-form .body-form .input-content input
{
    padding: 0.5em;
    border-radius: 8px;
    outline: none;
    border: solid 1px #2222224f;
    border-bottom-width: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 250px;
    transition: 0.3s ease;
}

#select,
#select-marker
{
    padding: 0.5em;
    border-radius: 8px;
    outline: none;
    border: solid 1px #2222224f;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 250px;
    border-bottom-width: 2px;
    transition: 0.3s ease;
}

select option
{
    border: solid 10px #2222224f;
}

#services textarea
{
    resize: vertical;
    width: 350px;
    outline: none;
    border: solid 2px #2222224f;
    font-size: 15px;
    text-align: justify;
    padding: 0.5em;
    height: 130px;
    border-radius: 8px;
}

#services .btn-contact
{
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    font-weight: 700;
    background: none;
    width: 150px;
    padding: 0.6em 0;
    border-radius: 3px;
    cursor: pointer;
    margin:20px 0 0 0;
    transition: 300ms;
    background-color: rgba(37, 50, 89, 0.95);
    border: none;
}

#services .btn-contact:hover
{
    box-shadow: 2px 2px 15px #04D9B2;
    background-color: #04D9B2;
    color:#fff;
}

#services .body-form .item
{
    display: flex;
    flex-direction: column;
}

#services .body-form .item span
{
    font-weight: 700;
    font-size: 12px;
    color:#050505;
    margin: 0 0 6px;
    font-family: 'Montserrat', sans-serif;
}

.body-left
{
    display: flex;
    gap:30px;
}



@media (max-width:1024px) 
{
    .body-left
    {
        flex-direction: column;

    }

    #services textarea
    {
        height: 300px;
    }
}

@media (max-width:773px) {
    #services .services-content .contact-form .body-form
    {
        flex-direction: column;
        padding: 0em;
        width: 100%;
    }

    #services .services-content .contact-form .body-form .input-content input,
    #services textarea
    {
        width: 250px;
    }
}




#services .services-content .contact-form .body-form .input-content .item input:focus
{
    border-color: #1c1d1d;
}


#select:focus,
#select-marker:focus,
#services textarea:focus
{
    border-color: #1c1d1d;
}


/*Colores de validacion message*/

#services .services-content .contact-form .body-form .input-content .item input.bad,
#select.bad,
#select-marker.bad,
#services textarea.bad,
#services .services-content .contact-form .body-form .input-content .item  #email-f.bad
{
    border-color: red;
}

#services .services-content .contact-form .body-form .input-content .item input.ok,
#select.ok,
#select-marker.ok,
#services textarea.ok,
#services .services-content .contact-form .body-form .input-content .item  #email-f.ok
{
    border-color: #04D9B2;
}

#services #name-error,
#services #email-error,
#services #select-1-error,
#services #select-2-error,
#services #areaError
{
    color:red;
    margin:0;
}